ul {
	padding: 20px 40px;
	box-sizing: border-box;
	li {
		padding: 0 30px;
		box-sizing: border-box;
		cursor: pointer;
	}
	&.main-level {
		font-size: 1.4em;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			font-weight: 400;
			text-transform: uppercase;
			height: 70px;
			line-height: 70px;
			&:hover {
				border-bottom: 6px solid #548233;
			}

		}
	}
	&.sub-level {
		position: absolute;
		left: 0px;
		display: none;
		font-size: 1em;
		padding: 0;
		background-color: #548233;
		&.show {
			display: block;
		}
		li {
			position: relative;
			display: block;
			font-weight: 400;
			text-transform: uppercase;
			height: auto;
			line-height: initial;
			&:hover {
				border-bottom: none;
			}
		}
	}	
}



