$font-stack: Poppins, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');


a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 6em;
	font-weight: 700;
}

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-family: $font-stack;
	font-size: 10px;
}
#app, .main-container {
	width: 100%;
}

.row {
	
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


.btn {
	padding: 10px 20px;
	border-width: 0.3em;
	border-style: solid;
	border-radius: 20px;
	font-size: 1.4em;
	font-weight: 700;
}



.txt-center {
	text-align: center;
}