.jumbotron {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	&.dark {
		color: #fff;
	}

	.bg-video {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		background-image: url(bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
}